/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{

    width:100%;
    height:100%;
    overflow:hidden;

    background:#ffffff;

    font-family:"Times New Roman", serif;
}

/* Invisible click layer */

.click-overlay{

    position:fixed;

    top:0;
    left:0;

    width:100vw;
    height:100vh;

    z-index:99999;

    background:transparent;

    cursor:pointer;
}

/* Whole page */

.page-container{

    position:relative;

    width:100%;
    height:100%;
}

/* Left */

.left-content{

    position:absolute;

    left:85px;

    top:275px;
}

/* Text */

.main-text{

    font-family:"Times New Roman", serif;

    font-size:88px;

    font-weight:400;

    color:#000000;

    line-height:1.16;

    letter-spacing:0;

    text-align:left;
}

/* Logo */

.logo{

    position:absolute;

    left:30px;

    top:440px;

    width:145px;

    height:auto;

    user-select:none;
}

/* Right */

.right-content{

    position:absolute;

    right:90px;

    top:65px;
}

/* Robot */

.robot-image{

    width:480px;

    height:auto;

    user-select:none;

    pointer-events:none;
}
